[submodule "deps/sds"]
	path = deps/sds
	url = https://github.com/antirez/sds.git
[submodule "deps/jsmn"]
	path = deps/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "deps/termbox"]
	path = deps/termbox
	url = https://github.com/nsf/termbox
[submodule "deps/lstack"]
	path = deps/lstack
	url = https://github.com/skeeto/lstack.git
